[*.cs]

# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = none

# CA1846: Prefer 'AsSpan' over 'Substring'
dotnet_diagnostic.CA1846.severity = none

# CA1852: Seal internal types
dotnet_diagnostic.CA1852.severity = none

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = true

# IDE0022: Use block body for method
dotnet_diagnostic.IDE0022.severity = none

# IDE0045: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_assignment = false

# IDE0046: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_return = false

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false
